body { 
    margin: 0;
    overflow: hidden;
    background: black;
}

.background { 
    position: fixed;
    object-fit: cover;
    width: 320px;
    height: 256px;
    z-index: -1;
}

.car { 
    position: fixed;
    object-fit: cover;
    width: 320px;
    height: 256px;
    z-index: 2;
}