body { 
    margin: 0;
    overflow: hidden;
    background: black;
    scroll-behavior: smooth;
}

.background-video { 
    position: fixed; 
    z-index: -1;
    height: 125%; 
    width: 111.25%;
}

.car { 
    position: fixed; 
    z-index: 1;
    height: 100%;
    width: 100%;
}

.map {
    z-index: 3;
    position: fixed;
    width: 40%;
    height: 40%;
    left: 390px;
    top: 270px;
}

.main-title { 
    width: 500px;
    position: fixed;
    margin-top: 10px;
    z-index: 3;
    transition: transform 0.3s ease;

}

@keyframes spin {
    from {
        rotate: 0deg;
    }

    to {
        rotate: -360deg;
    }
}


.main-title:hover { 
    transform: scale(1.08) translateY(-5px);
    animation: /* slideIn 1.5s ease-out forwards,*/ spin 4s linear infinite; 

}

/* @keyframes slideIn { 
    from { 
        opacity: 0; 
        transform: translateX(-200px, -50%);
    } 

    to { 
        opacity: 1; 
        transform: translateX(0);
    }

} */

.navigatehomedisplay { 
    position: fixed;
    width: 250px;
    top: 350px;
    right: 230px;
    transition: transform 0.3s ease;
    z-index: 5;
}

.navigatehomedisplay:hover { 
    transform: scale(1.08) translateY(-5px); 
}

.pinhome {
    z-index: 999;
    position: absolute;
}

.pintictactoe,
.pinhome, 
.pinmemory {
    z-index: 999;
    position: absolute;
    width: 100px;
    animation: pulse 1.5s infinite;
}

.pintictactoe { 
    top: 250px; 
    left: 600px;
}


.pinmemory { 
    top: 330px; 
    left: 500px;
}

.pinhome { 
    top: 420px;
    left: 700px;
}

/* .pintictactoe:hover,
.pinhome:hover, 
.pinmemory:hover {
   transform: scale(1.08) translateY(-5px);
} */

@keyframes pulse {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 0px rgba(0, 255, 255, 0));
    }

    50% {
        transform: scale(1.15);
        filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
    }

    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 0px rgba(0, 255, 255, 0));
    }
}

.number1,
.number2,
.number3 {
    position: fixed;
    z-index: 999;
    width: 200px;
    animation: pulse 4.0s infinite
}

.number1 {
    top: 270px; 
    left: 675px;
}

.number2 { 
    top: 350px; 
    left: 540px;
}

.number3 { 
    top: 440px;
    left: 610px;
}

